@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 768px) {
  main {
    margin-top: 4rem; /* distância suficiente pro botão flutuante */
  }
}

body {
  background-image: url('../public/images/texture-blue.png');
  background-size: cover;
  background-repeat: no-repeat;
}